body {
  margin: auto;
  text-align: center;
  background-color: black;
  text-shadow: black 2px 0 10px;
}

h1 {
  color: pink;
  text-shadow: #f9f9f9 1px 0 1px;
}

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: pink;
}