.post-container {
    margin-bottom: 20px;
    padding-bottom: 15px;
    background-color: #202021;
    color: white;
  }

  h3 {
    padding-top: 15px;
  }
  
  .video-container {
    margin: auto;
    background-color: #222224;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    border-radius: 4px;
    overflow: hidden;
    width: 40%;
    height: 40%;
  }
  
  .video-container video {
    padding: 10px;
    height: 50%;
    width: 50%;
  }
  
  .upvotes {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
  }
  
  h3 {
    margin: 0 auto;
    max-width: 50%;
  }

  @media only screen and (max-width: 600px) {
    .video-container video {
      height: 100%;
      width: 100%;
    }
  }